*.orig
*.pyc
*.Rhistory
.bash_history
.bash_logout
.cache
.dotnet
.env*
.gk
.ipynb_checkpoints
.lesshst
.local
.prefect/flows.json
.prefect/memo_store.toml
.profile
.pytest_cache
.python_history
.Rproj.user
.ruff_cache
.ssh
.Trash-1000
.vscode-server
.~*
__pycache__

projects/main
