clickhouse-connect==0.8.7
git+https://github.com/netbek/clickhouse-sqlalchemy.git@datetime-uuid
dbt-artifacts-parser==0.7.0
git+https://github.com/netbek/dbt-clickhouse.git@v1.8.5-batch
dbt-core==1.8.9
httpx==0.28.1
pandas==2.2.3
prefect==3.0.10
prefect-dbt==0.6.3
prefect-jupyter==0.3.1
prefect-shell==0.3.0
psycopg2-binary==2.9.10
pydantic==2.10.1
pydantic-settings==2.6.1
pydash==8.0.4
python-dateutil==2.9.0.post0
PyYAML==6.0.2
rich==13.9.4
sqlglot==25.34.0
sqlparse==0.5.2
typer==0.12.5
