clickhouse-driver==0.2.6
clickhouse-sqlalchemy==0.3.0
dbt-clickhouse==1.7.2
dbt-semantic-interfaces==0.4.3
pandas==2.2.1
prefect==2.16.0
prefect-jupyter==0.3.1
prefect-shell==0.2.2
psycopg2-binary==2.9.9
pydantic==2.6.2
PyYAML==6.0.1
rich==13.7.0
SQLAlchemy==2.0.27
sqlparse==0.4.4
typer==0.9.0
