# Python warnings ignored:
# - https://github.com/PrefectHQ/prefect/issues/7869
# - https://github.com/PrefectHQ/prefect/issues/9191

CORS_ALLOW_ORIGINS=["*"]
DBT_PROFILES_DIR=/home/analyst/.dbt
LITESTAR_DEBUG=false
PREFECT_API_URL=http://prefect-server:4200/api
PREFECT_HOME=/home/analyst/.prefect
PROJECTS_DIR=/home/analyst/projects
PYTHONPATH=/home/analyst
PYTHONWARNINGS=ignore::UserWarning:prefect.flows,ignore::RuntimeWarning:runpy
TZ=UTC
