# Package: ClickHouse test database
PACKAGE_TEST_CLICKHOUSE_HOST=test-clickhouse
PACKAGE_TEST_CLICKHOUSE_HTTP_PORT=8123
PACKAGE_TEST_CLICKHOUSE_TCP_PORT=9000
PACKAGE_TEST_CLICKHOUSE_USERNAME=default
PACKAGE_TEST_CLICKHOUSE_PASSWORD=default
PACKAGE_TEST_CLICKHOUSE_DATABASE=default
PACKAGE_TEST_CLICKHOUSE_SECURE=false
PACKAGE_TEST_CLICKHOUSE_DRIVER=http

# Package: Postgres test database
PACKAGE_TEST_POSTGRES_HOST=test-postgres
PACKAGE_TEST_POSTGRES_PORT=5432
PACKAGE_TEST_POSTGRES_USERNAME=postgres
PACKAGE_TEST_POSTGRES_PASSWORD=postgres
PACKAGE_TEST_POSTGRES_DATABASE=postgres
PACKAGE_TEST_POSTGRES_SCHEMA=public

# All projects: Postgres development database
SOURCE_POSTGRES_HOST="{{ source_postgres_host }}"
SOURCE_POSTGRES_PORT={{ source_postgres_port }}
SOURCE_POSTGRES_USERNAME="{{ source_postgres_username }}"
SOURCE_POSTGRES_PASSWORD="{{ source_postgres_password }}"
SOURCE_POSTGRES_DATABASE="{{ source_postgres_database }}"
SOURCE_POSTGRES_SCHEMA="{{ source_postgres_schema }}"

{# # Tutorial project: ClickHouse development database
TUTORIAL_DESTINATION_HOST=clickhouse
TUTORIAL_DESTINATION_HTTP_PORT=8123
TUTORIAL_DESTINATION_TCP_PORT=9000
TUTORIAL_DESTINATION_USERNAME="{{ clickhouse_analyst_username }}"
TUTORIAL_DESTINATION_PASSWORD="{{ clickhouse_analyst_password }}"
TUTORIAL_DESTINATION_DATABASE="{{ clickhouse_analytics_database }}"
TUTORIAL_DESTINATION_SECURE=false
TUTORIAL_DESTINATION_DRIVER=http #}

# Main project: ClickHouse development database
MAIN_DESTINATION_HOST=clickhouse
MAIN_DESTINATION_HTTP_PORT=8123
MAIN_DESTINATION_TCP_PORT=9000
MAIN_DESTINATION_USERNAME="{{ clickhouse_analyst_username }}"
MAIN_DESTINATION_PASSWORD="{{ clickhouse_analyst_password }}"
MAIN_DESTINATION_DATABASE="{{ clickhouse_analytics_database }}"
MAIN_DESTINATION_SECURE=false
MAIN_DESTINATION_DRIVER=http

# Main project: ClickHouse test database
MAIN_TEST_DESTINATION_HOST=test-clickhouse
MAIN_TEST_DESTINATION_HTTP_PORT=8123
MAIN_TEST_DESTINATION_TCP_PORT=9000
MAIN_TEST_DESTINATION_USERNAME="{{ clickhouse_analyst_username }}"
MAIN_TEST_DESTINATION_PASSWORD="{{ clickhouse_analyst_password }}"
MAIN_TEST_DESTINATION_DATABASE="{{ clickhouse_analytics_database }}"
MAIN_TEST_DESTINATION_SECURE=false
MAIN_TEST_DESTINATION_DRIVER=http
