PEERDB_API_URL=http://peerdb-ui:3000/api

PEERDB_PEER_SOURCE_HOST="{{ source_postgres_host }}"
PEERDB_PEER_SOURCE_PORT={{ source_postgres_port }}
PEERDB_PEER_SOURCE_USERNAME="{{ source_postgres_username }}"
PEERDB_PEER_SOURCE_PASSWORD="{{ source_postgres_password }}"
PEERDB_PEER_SOURCE_DATABASE="{{ source_postgres_database }}"

PEERDB_PEER_DESTINATION_HOST=clickhouse
PEERDB_PEER_DESTINATION_TCP_PORT=9000
PEERDB_PEER_DESTINATION_USERNAME="{{ clickhouse_peerdb_username }}"
PEERDB_PEER_DESTINATION_PASSWORD="{{ clickhouse_peerdb_password }}"
PEERDB_PEER_DESTINATION_DATABASE="{{ clickhouse_peerdb_database }}"
