PREFECT_API_DATABASE_CONNECTION_URL='postgresql+asyncpg://{{ prefect_postgres_prefect_username | urlencode }}:{{ prefect_postgres_prefect_password | urlencode }}@prefect-postgres:5432/{{ prefect_postgres_prefect_database | urlencode }}'
PREFECT_API_URL=http://0.0.0.0:4200/api
PREFECT_HOME=/home/analyst/.prefect
PREFECT_SERVER_ANALYTICS_ENABLED=False
PREFECT_SERVER_API_HOST=0.0.0.0
PREFECT_SERVER_API_PORT=4200
PREFECT_SERVER_CSRF_PROTECTION_ENABLED=True
PREFECT_UI_STATIC_DIRECTORY=/home/analyst/static
TZ=UTC
