CLICKHOUSE_USER="{{ clickhouse_default_username }}"
CLICKHOUSE_PASSWORD="{{ clickhouse_default_password }}"
CLICKHOUSE_DB="{{ clickhouse_default_database }}"
CLICKHOUSE_DEFAULT_ACCESS_MANAGEMENT=1
TZ=UTC
