# Description: Database credentials used in prefect-worker, cli, jupyter
# Profile: {{ profile }}

{% if profile == 'ci' %}
# Postgres testing database
POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=testing
POSTGRES_SCHEMA=public

# ClickHouse testing database for package
DEFAULT_CLICKHOUSE_HOST=host.docker.internal
DEFAULT_CLICKHOUSE_PORT=29001
DEFAULT_CLICKHOUSE_USERNAME=default
DEFAULT_CLICKHOUSE_PASSWORD=default
DEFAULT_CLICKHOUSE_DATABASE=default
DEFAULT_CLICKHOUSE_SECURE=false
DEFAULT_CLICKHOUSE_DRIVER=native

# ClickHouse testing database from main project
MAIN_CLICKHOUSE_HOST=host.docker.internal
MAIN_CLICKHOUSE_PORT=29001
MAIN_CLICKHOUSE_USERNAME=analyst
MAIN_CLICKHOUSE_PASSWORD=analyst
MAIN_CLICKHOUSE_DATABASE=analytics
MAIN_CLICKHOUSE_SECURE=false
MAIN_CLICKHOUSE_DRIVER=native

{% elif profile == 'dev' %}
# Postgres development database
POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=app
POSTGRES_SCHEMA=public

# ClickHouse testing database for package
DEFAULT_CLICKHOUSE_HOST=host.docker.internal
DEFAULT_CLICKHOUSE_PORT=29001
DEFAULT_CLICKHOUSE_USERNAME=default
DEFAULT_CLICKHOUSE_PASSWORD=default
DEFAULT_CLICKHOUSE_DATABASE=default
DEFAULT_CLICKHOUSE_SECURE=false
DEFAULT_CLICKHOUSE_DRIVER=native

# ClickHouse development database for tutorial project
TUTORIAL_CLICKHOUSE_HOST=host.docker.internal
TUTORIAL_CLICKHOUSE_PORT=29001
TUTORIAL_CLICKHOUSE_USERNAME=analyst
TUTORIAL_CLICKHOUSE_PASSWORD=analyst
TUTORIAL_CLICKHOUSE_DATABASE=analytics
TUTORIAL_CLICKHOUSE_SECURE=false
TUTORIAL_CLICKHOUSE_DRIVER=native

# ClickHouse development database for main project
MAIN_CLICKHOUSE_HOST=host.docker.internal
MAIN_CLICKHOUSE_PORT=29001
MAIN_CLICKHOUSE_USERNAME=analyst
MAIN_CLICKHOUSE_PASSWORD=analyst
MAIN_CLICKHOUSE_DATABASE=analytics
MAIN_CLICKHOUSE_SECURE=false
MAIN_CLICKHOUSE_DRIVER=native

{% elif profile == 'prod' %}
# Postgres production database
POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DATABASE=app
POSTGRES_SCHEMA=public

# ClickHouse production database for main project
MAIN_CLICKHOUSE_HOST=host.docker.internal
MAIN_CLICKHOUSE_PORT=29001
MAIN_CLICKHOUSE_USERNAME=analyst
MAIN_CLICKHOUSE_PASSWORD=analyst
MAIN_CLICKHOUSE_DATABASE=analytics
MAIN_CLICKHOUSE_SECURE=false
MAIN_CLICKHOUSE_DRIVER=native
{%- endif %}
