# Description: Database credentials used in prefect-worker, cli, jupyter
# Profile: {{ profile }}

{% if profile == 'ci' %}
# PeerDB
PEERDB_API_URL=http://host.docker.internal:3000/api

# ClickHouse test database for package
PACKAGE_TEST_CLICKHOUSE_HOST=test-clickhouse
PACKAGE_TEST_CLICKHOUSE_PORT=8123
PACKAGE_TEST_CLICKHOUSE_USERNAME=default
PACKAGE_TEST_CLICKHOUSE_PASSWORD=default
PACKAGE_TEST_CLICKHOUSE_DATABASE=default
PACKAGE_TEST_CLICKHOUSE_SECURE=false
PACKAGE_TEST_CLICKHOUSE_DRIVER=http

# Postgres test database for package
PACKAGE_TEST_POSTGRES_HOST=test-postgres
PACKAGE_TEST_POSTGRES_PORT=5432
PACKAGE_TEST_POSTGRES_USERNAME=postgres
PACKAGE_TEST_POSTGRES_PASSWORD=postgres
PACKAGE_TEST_POSTGRES_DATABASE=postgres
PACKAGE_TEST_POSTGRES_SCHEMA=public

# ClickHouse test database for main project
MAIN_TEST_DESTINATION_HOST=test-clickhouse
MAIN_TEST_DESTINATION_PORT=8123
MAIN_TEST_DESTINATION_USERNAME=analyst
MAIN_TEST_DESTINATION_PASSWORD=analyst
MAIN_TEST_DESTINATION_DATABASE=analytics
MAIN_TEST_DESTINATION_SECURE=false
MAIN_TEST_DESTINATION_DRIVER=http

{% elif profile == 'dev' %}
# PeerDB
PEERDB_API_URL=http://host.docker.internal:3000/api

# ClickHouse test database for package
PACKAGE_TEST_CLICKHOUSE_HOST=test-clickhouse
PACKAGE_TEST_CLICKHOUSE_PORT=8123
PACKAGE_TEST_CLICKHOUSE_USERNAME=default
PACKAGE_TEST_CLICKHOUSE_PASSWORD=default
PACKAGE_TEST_CLICKHOUSE_DATABASE=default
PACKAGE_TEST_CLICKHOUSE_SECURE=false
PACKAGE_TEST_CLICKHOUSE_DRIVER=http

# Postgres test database for package
PACKAGE_TEST_POSTGRES_HOST=test-postgres
PACKAGE_TEST_POSTGRES_PORT=5432
PACKAGE_TEST_POSTGRES_USERNAME=postgres
PACKAGE_TEST_POSTGRES_PASSWORD=postgres
PACKAGE_TEST_POSTGRES_DATABASE=postgres
PACKAGE_TEST_POSTGRES_SCHEMA=public

# Postgres development database
SOURCE_POSTGRES_HOST=host.docker.internal
SOURCE_POSTGRES_PORT=5432
SOURCE_POSTGRES_USERNAME=postgres
SOURCE_POSTGRES_PASSWORD=postgres
SOURCE_POSTGRES_DATABASE=app
SOURCE_POSTGRES_SCHEMA=public

# ClickHouse development database for tutorial project
TUTORIAL_DESTINATION_HOST=host.docker.internal
TUTORIAL_DESTINATION_PORT=29000
TUTORIAL_DESTINATION_USERNAME=analyst
TUTORIAL_DESTINATION_PASSWORD=analyst
TUTORIAL_DESTINATION_DATABASE=analytics
TUTORIAL_DESTINATION_SECURE=false
TUTORIAL_DESTINATION_DRIVER=http

# ClickHouse development database for main project
MAIN_DESTINATION_HOST=host.docker.internal
MAIN_DESTINATION_PORT=29000
MAIN_DESTINATION_USERNAME=analyst
MAIN_DESTINATION_PASSWORD=analyst
MAIN_DESTINATION_DATABASE=analytics
MAIN_DESTINATION_SECURE=false
MAIN_DESTINATION_DRIVER=http

# ClickHouse test database for main project
MAIN_TEST_DESTINATION_HOST=test-clickhouse
MAIN_TEST_DESTINATION_PORT=8123
MAIN_TEST_DESTINATION_USERNAME=analyst
MAIN_TEST_DESTINATION_PASSWORD=analyst
MAIN_TEST_DESTINATION_DATABASE=analytics
MAIN_TEST_DESTINATION_SECURE=false
MAIN_TEST_DESTINATION_DRIVER=http

{% elif profile == 'prod' %}
# PeerDB
PEERDB_API_URL=http://host.docker.internal:3000/api

# Postgres production database
SOURCE_POSTGRES_HOST=host.docker.internal
SOURCE_POSTGRES_PORT=5432
SOURCE_POSTGRES_USERNAME=postgres
SOURCE_POSTGRES_PASSWORD=postgres
SOURCE_POSTGRES_DATABASE=app
SOURCE_POSTGRES_SCHEMA=public

# ClickHouse production database for main project
MAIN_DESTINATION_HOST=host.docker.internal
MAIN_DESTINATION_PORT=29000
MAIN_DESTINATION_USERNAME=analyst
MAIN_DESTINATION_PASSWORD=analyst
MAIN_DESTINATION_DATABASE=analytics
MAIN_DESTINATION_SECURE=false
MAIN_DESTINATION_DRIVER=http
{%- endif %}
