# Description: Database credentials used in prefect-worker, cli, jupyter
# Profile: {{ profile }}

{% if profile == 'ci' %}
# PeerDB
PEERDB_API_URL=http://host.docker.internal:3000/api

# Postgres testing database
SOURCE_POSTGRES_HOST=host.docker.internal
SOURCE_POSTGRES_PORT=5432
SOURCE_POSTGRES_USERNAME=postgres
SOURCE_POSTGRES_PASSWORD=postgres
SOURCE_POSTGRES_DATABASE=testing
SOURCE_POSTGRES_SCHEMA=public

# ClickHouse testing database for package
DEFAULT_DESTINATION_CLICKHOUSE_HOST=host.docker.internal
DEFAULT_DESTINATION_CLICKHOUSE_PORT=29000
DEFAULT_DESTINATION_CLICKHOUSE_USERNAME=default
DEFAULT_DESTINATION_CLICKHOUSE_PASSWORD=default
DEFAULT_DESTINATION_CLICKHOUSE_DATABASE=default
DEFAULT_DESTINATION_CLICKHOUSE_SECURE=false
DEFAULT_DESTINATION_CLICKHOUSE_DRIVER=http

# ClickHouse testing database from main project
MAIN_DESTINATION_CLICKHOUSE_HOST=host.docker.internal
MAIN_DESTINATION_CLICKHOUSE_PORT=29000
MAIN_DESTINATION_CLICKHOUSE_USERNAME=analyst
MAIN_DESTINATION_CLICKHOUSE_PASSWORD=analyst
MAIN_DESTINATION_CLICKHOUSE_DATABASE=analytics
MAIN_DESTINATION_CLICKHOUSE_SECURE=false
MAIN_DESTINATION_CLICKHOUSE_DRIVER=http

{% elif profile == 'dev' %}
# PeerDB
PEERDB_API_URL=http://host.docker.internal:3000/api

# Postgres development database
SOURCE_POSTGRES_HOST=host.docker.internal
SOURCE_POSTGRES_PORT=5432
SOURCE_POSTGRES_USERNAME=postgres
SOURCE_POSTGRES_PASSWORD=postgres
SOURCE_POSTGRES_DATABASE=app
SOURCE_POSTGRES_SCHEMA=public

# ClickHouse testing database for package
DEFAULT_DESTINATION_CLICKHOUSE_HOST=host.docker.internal
DEFAULT_DESTINATION_CLICKHOUSE_PORT=29000
DEFAULT_DESTINATION_CLICKHOUSE_USERNAME=default
DEFAULT_DESTINATION_CLICKHOUSE_PASSWORD=default
DEFAULT_DESTINATION_CLICKHOUSE_DATABASE=default
DEFAULT_DESTINATION_CLICKHOUSE_SECURE=false
DEFAULT_DESTINATION_CLICKHOUSE_DRIVER=http

# ClickHouse development database for tutorial project
TUTORIAL_DESTINATION_CLICKHOUSE_HOST=host.docker.internal
TUTORIAL_DESTINATION_CLICKHOUSE_PORT=29000
TUTORIAL_DESTINATION_CLICKHOUSE_USERNAME=analyst
TUTORIAL_DESTINATION_CLICKHOUSE_PASSWORD=analyst
TUTORIAL_DESTINATION_CLICKHOUSE_DATABASE=analytics
TUTORIAL_DESTINATION_CLICKHOUSE_SECURE=false
TUTORIAL_DESTINATION_CLICKHOUSE_DRIVER=http

# ClickHouse development database for main project
MAIN_DESTINATION_CLICKHOUSE_HOST=host.docker.internal
MAIN_DESTINATION_CLICKHOUSE_PORT=29000
MAIN_DESTINATION_CLICKHOUSE_USERNAME=analyst
MAIN_DESTINATION_CLICKHOUSE_PASSWORD=analyst
MAIN_DESTINATION_CLICKHOUSE_DATABASE=analytics
MAIN_DESTINATION_CLICKHOUSE_SECURE=false
MAIN_DESTINATION_CLICKHOUSE_DRIVER=http

{% elif profile == 'prod' %}
# PeerDB
PEERDB_API_URL=http://host.docker.internal:3000/api

# Postgres production database
SOURCE_POSTGRES_HOST=host.docker.internal
SOURCE_POSTGRES_PORT=5432
SOURCE_POSTGRES_USERNAME=postgres
SOURCE_POSTGRES_PASSWORD=postgres
SOURCE_POSTGRES_DATABASE=app
SOURCE_POSTGRES_SCHEMA=public

# ClickHouse production database for main project
MAIN_DESTINATION_CLICKHOUSE_HOST=host.docker.internal
MAIN_DESTINATION_CLICKHOUSE_PORT=29000
MAIN_DESTINATION_CLICKHOUSE_USERNAME=analyst
MAIN_DESTINATION_CLICKHOUSE_PASSWORD=analyst
MAIN_DESTINATION_CLICKHOUSE_DATABASE=analytics
MAIN_DESTINATION_CLICKHOUSE_SECURE=false
MAIN_DESTINATION_CLICKHOUSE_DRIVER=http
{%- endif %}
