# Python warnings ignored:
# - https://github.com/PrefectHQ/prefect/issues/7869
# - https://github.com/PrefectHQ/prefect/issues/9191

DBT_PROFILES_DIR=/home/analyst/.dbt
DOCKER_STACKS_JUPYTER_CMD=nbclassic
NB_GID=1000
NB_UID=1000
NB_USER=analyst
NOTEBOOK_ARGS=--ServerApp.token= --ServerApp.password=
PREFECT_API_URL=http://prefect-server:4200/api
PREFECT_HOME=/home/analyst/.prefect
PROJECTS_DIR=/home/analyst/projects
PYTHONWARNINGS=ignore::UserWarning:prefect.flows,ignore::RuntimeWarning:runpy
TZ=UTC
