PREFECT_API_DATABASE_CONNECTION_URL="postgresql+asyncpg://{{ prefect_postgres_prefect_username }}:{{ prefect_postgres_prefect_password }}@prefect-postgres:5432/{{ prefect_postgres_prefect_database }}"
PREFECT_API_URL=http://0.0.0.0:4200/api
PREFECT_HOME=/home/analyst/.prefect
PREFECT_SERVER_ANALYTICS_ENABLED=false
PREFECT_SERVER_API_HOST=0.0.0.0
TZ=UTC
